body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(./images/guitar.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container__text, .container__title{
    text-align: center;
    padding: 0;
    margin: 5px auto;
    font-family: "Quicksand",sans-serif;
}

.container__text{
    font-weight: 500;
    font-size: 20px;
}

.container__title{
    font-weight: 600;
    font-size: 32px;
}

.container{
    background-color: antiquewhite(151, 75, 75);
    min-width: 250px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 30px;
    display: block;
}

.blocks{
    display: flex;
    justify-content: center;
    background-color: antiquewhite(151, 75, 75);
    padding: 20px;
    margin: 10px 0;
}

.blocks__grade{
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 50px;
    margin: 10px;
}

.blocks__btn{
    font-family: "Quicksand",sans-serif;
    border: none;
    background-color: inherit;
    width: 150px;
    height: 50px;
    background-color: rgb(188, 217, 215);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
}

.blocks__btn:hover{
    background-color: cadetblue;
    cursor: hand;
    cursor: pointer;
    opacity: .9;
}

@media screen and (max-width: 700px) {
  .blocks {
    /* height: 100px; */
    flex-wrap: wrap;
  }
}